.env
.env.local


# Chattr.Api
chattr_Backend/Chattr.Api/appsettings.Development.json
chattr_Backend/Chattr.Api/appsettings.Production.json
chattr_Backend/Chattr.Api/appsettings.json

.vscode
.vscode/settings.json

# Build files
chattr_Backend/Chattr.Api/bin/
chattr_Backend/Chattr.Api/obj/
chattr_Backend/Chattr.Infrastructure/bin/
chattr_Backend/Chattr.Infrastructure/obj/
chattr_Backend/Chattr.Core/bin/
chattr_Backend/Chattr.Core/obj/