$background: rgb(12, 12, 12);
$background-accent: rgb(0, 0, 0);

$background-primary: rgb(201, 0, 0);
$background-primary-accent: rgb(176, 0, 0);

$background-secondary: rgb(99, 0, 0);

$background-danger: rgb(255, 255, 255);

$foreground: rgb(235, 235, 235);

$foreground-primary: rgb(255, 255, 255);

$foreground-secondary: rgb(235, 235, 235);

$foreground-danger: rgb(201, 0, 0);