@use "../../../../variables" as vars;

.nv-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background: transparent;
    z-index: 100;
}

.nv-logo {
    color: vars.$foreground;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
}

.nv-logo-icon {
    color: vars.$primary;
}

.nv-gs-btn {
    background-color: vars.$primary;
    color: vars.$muted;
    font-size: 0.9rem;
    border: 0px solid;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.nv-gs-btn:link {
    color: vars.$muted;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
}

.nv-gs-btn:visited {
    color: vars.$muted;
}

.nv-gs-btn:hover {
    cursor: pointer;
    filter: drop-shadow(0px 5px 15px vars.$primary);
}

.nv-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nv-item-prefix {
    color: vars.$primary;
}

.nv-item-link {
    color: vars.$muted-foreground;
    font-size: 0.9rem;
    transition: all .2s ease;
}

.nv-item-link:hover {
    color: vars.$primary;
    cursor: pointer;
}

.nv-item-link:link {
    color: vars.$muted-foreground;
    transition: all .2s ease;
    text-decoration: none;
}

.nv-toggle-wrapper {

}

.nv-toggle-btn {
    background-color: transparent;
    color: white;
    border: none;
    display: none;
}

.nv-toggle-btn svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media (max-width: 640px) {
    .nv-items { 
        display: none;
    }

    .nv-toggle-wrapper {
        z-index: 102;
    }

    .nv-toggle-btn {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        transition: all .2s ease-in-out;
    }

    .nv-toggle-btn-spinned {
        transform: rotate(90deg);
    }

    .nv-item-wrapper {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 50px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        transform: translateX(-100%);
        transition: all 2s ease-in-out;
    }

    .nv-item-wrapper-show {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 50px;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        transform: translateX(0);
        transition: all 2s ease-in-out;
    }
}