<nav class="nv-wrapper">
  <div class="nv-toggle-wrapper">
    <div class="nv-item-wrapper" id="nv-item-wrapper">
      @for (link of navLinks; track link.label) {
        <a class="nv-item-link jetbrains-mono-400" [routerLink]="link.route">
          <span class="nv-item-prefix"> ~ </span>
          /{{ link.label.toLocaleLowerCase() }}
        </a>
      }
    </div>
    <button class="nv-toggle-btn" id="nv-toggle-btn" (click)="toggleMobileNavStatus()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class=""
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
  </div>
  <div class="nv-logo jetbrains-mono-400">
    <span class="nv-logo-icon">$</span>
    chattr
  </div>
  <div class="nv-items">
    @for (link of navLinks; track link.label) {
      <a class="nv-item-link jetbrains-mono-400" [routerLink]="link.route">
        <span class="nv-item-prefix"> ~ </span>
        /{{ link.label.toLocaleLowerCase() }}
      </a>
    }
    <a href="/auth/register" class="jetbrains-mono-400 nv-gs-btn">Get Started</a>
  </div>
</nav>
