<nav class="nv-wrapper">
  <div class="nv-logo jetbrains-mono-400">
    <span class="nv-logo-icon">$</span>
    chattr
  </div>
  <div class="nv-items">
    @for (link of navLinks; track link.label) {
      <a 
        class="nv-item-link jetbrains-mono-400"
        [routerLink]="link.route"
      >
        <span class="nv-item-prefix">
          ~
        </span>
        /{{ link.label.toLocaleLowerCase() }}
      </a>
    }
    <a href="/auth/register" class="jetbrains-mono-400 nv-gs-btn">Get Started</a>
  </div>
</nav>