@use "../../../../variables" as vars;

.nv-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background: transparent;
    z-index: 100;
}

.nv-logo {
    color: vars.$foreground;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.3rem;
}

.nv-logo-icon {
    color: vars.$primary;
}

.nv-gs-btn {
    background-color: vars.$primary;
    color: vars.$muted;
    border: 0px solid;
    border-radius: 10px;
}

.nv-gs-btn:link {
    color: vars.$muted;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
}

.nv-gs-btn:visited {
    color: vars.$muted;
}

.nv-gs-btn:hover {
    cursor: pointer;
}

.nv-item-prefix {
    color: vars.$primary;
}

.nv-item-link {
    color: vars.$muted-foreground;
    font-size: 0.9rem;
    transition: all .2s ease;
}

.nv-item-link:hover {
    color: vars.$primary;
}

.nv-item-link:link {
    color: vars.$muted-foreground;
    text-decoration: none;
}

.nv-item-link:visited {
    color: vars.$muted-foreground;

}